      

      
     

      <% begin %>
        
          <% @ticker_logo = StockQuote::Stock.logo(@stock.ticker) %>
          <% @ticker = StockQuote::Stock.quote(@stock.ticker) %>
           
        
      <% rescue StandardError %>
          <% @ticker = nil %>

      <% end %>

        <% if @ticker %>

          <img src="<%= @ticker_logo.url %>"><br/>
          <br/>
          <strong><%= @ticker.company_name %></strong><br/>
          Ticker Symbol: <%= @ticker.symbol %><br/>
          Current Price: $<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %><br/>
          Previous Close: $<%= number_with_precision(@ticker.previous_close, :precision => 2, :delimiter => ',') %><br/>
          Percent Change: <%= @ticker.change_percent %>%<br/>
            
          
          YTD Change:<%= number_with_precision(@ticker.ytd_change, :precision => 2, :delimiter => ',') %>%<br/>

          Market Cap: $<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %><br/>
          Sector: <%= @ticker.symbol %><br/>

      <% end %>
          

       


      


<br/><br/>

<div>
  <%= link_to "Edit this stock", edit_stock_path(@stock) %> |
  <%= link_to "Back to stocks", stocks_path %>
  <br/><br/>
  <%= button_to "Destroy this stock", @stock, method: :delete, class: 'btn btn-danger' %>
</div>